# builds 
inst/doc

# Rproj files
.Rproj.user
.Rhistory
*.Rproj
.RData

# Data/history files
.RData

# Data/history files
.RData
.Rhistory

# vi files
*.swp

# prototype / test code
prototype.R


/doc/
/Meta/
..Rcheck
docs
tags
